@import '@fontsource/inter';
@import '@fontsource/montserrat';
@import '@fontsource/elsie-swash-caps';


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
 
}

body {
  background-color: #C4C4C4;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media(min-width: 920px) {
  body {
      background-image: url('../assets/images/body-shape.png'),
                        url('../assets/images/bg.jpg');
      background-repeat: no-repeat, 
                        repeat-x;
      background-position: right top;
  }
}