@import '@fontsource/inter';
@import '@fontsource/montserrat';
@import '@fontsource/elsie-swash-caps';


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  max-width: 100%;
  background-color: #FFF;
 
}

main {
  max-width: 1200px;
  margin: 0 auto;
}


a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media(min-width: 920px) {
  body {
      background-image: url('../assets/images/body-shape.png');
      background-repeat: no-repeat, 
                        repeat-x;
      background-position: right top;
  }
}